---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
            font-bold text-heading-1">
            "Adquirir conocimiento es llevar, un  <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Rumbo</span> en la vida"
           </h1>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="./images/ter.jpg" width="200" height="80" alt="logo rumbo"
                     class="h-15 sm:h-21
                      w-auto ease-linear duration-500">
            </div>
        </div>
    </Container>
</section>