---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
---

<Base>
  <section>
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/sigin-des.png" alt="" />
            <h1 class="mb-4">Ingresa tu ruta</h1>
            <p>Solo el camino seguro te lleva a los tuyos</p>
            <div
              class="relative my-8 text-center after:absolute after:left-0 after:top-1/2 after:z-[0] after:w-full after:border-b after:border-border after:content-['']"
            >
              <span class="relative z-[1] inline-block bg-white px-2"
                >Lugar,hora,conductor,destino,placa del vehiculo todo en un click</span
              >
            </div>

            <form action="#">
              <div class="form-group">
                <label for="name" class="form-label">Ciudad o Municipio</label>
                <input
                  type="text"
                  id="city"
                  class="form-control"
                  placeholder="Digita tu Origen ejemplo: Garzon"
                />
                <label for="name" class="form-label">Destino</label>
                <input
                  type="text"
                  id="texto"
                  class="form-control"
                  placeholder="Digita tu detino ejemplo:el caguan"
                />
              </div>
              <div class="form-group mt-4">
                <label for="date" class="form-label">Fecha de viaje</label>
                <input
                  type="date"
                  id="date"
                  class="form-control"
                  placeholder="ingresa fecha de salida"
                />
              </div>
              <a
                class="btn btn-primary mt-10 block w-full"
                type="submit"  href="/resultadorutas"
              > da Click aqui </a>
            </form>
          </div>
        </div>
        <SigninSlider
          client:load
          title="<br /> Un citio para que conozcas de forma segura tu ruta <br />facil solo das un click"
        />
      </div>
    </div>
  </section>
</Base>
